**/.git
**/.gitignore
**/.vs
**/.idea
**/bin
**/obj
**/node_modules
**/.env
**/code.txt
**/dump.txt
**/*.sql
**/logs
**/*.user
**/*.DotSettings.user
**/Dockerfile
**/docker-compose.yml
**/.dockerignore
**/README.md
**/*.md

